* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
}

.App > * {
  width: 50%;
  margin: 0px 10px;
}

.index {
  border: 1px solid black;
  padding: 10px;
  box-shadow: -5px 10px rgb(177, 175, 175);
}

.search,
.add {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gray;
  box-shadow: 5px 10px rgb(177, 175, 175);
  margin-bottom: 20px;
}
.search > *,
.add > * {
  margin: 5px 0px;
}

input,
button {
  width: 100%;
  margin: 5px 0px;
}

.user {
  border: 1px dashed rgb(203, 140, 140);
  margin-bottom: 5px;
  padding: 2px;
}

.crud {
  vertical-align: top;
}
